[alias]
	st = status
	ci = commit
	co = checkout
	pl = "pull --rebase"
[user]
	name = Toru.Inoue
	email = Toru.Inoue@so-net.co.jp
[http]
	sslVerify = false
[color]
	diff = always
	status = always
	interactive = always
	branch = always
