[alias]
	st = status
	ci = commit
	co = checkout
  cp = cherry-pick
	coo = ! git checkout $(git branch --no-color | cut -c 3- | peco)
  pl = ! git pull origin $(git rev-parse --abbrev-ref HEAD)
  ps = ! git push origin $(git rev-parse --abbrev-ref HEAD)
[http]
	sslVerify = false
[color]
	diff = always
	status = always
	interactive = always
	branch = always
[push]
	default = simple
[core]
  quotepath = false
